* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgb(21,105,199),black 10%,black 90%,rgb(21,105,199) 100%);
    color: aqua;
    font-family: 'Orbitron', sans-serif;
   
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    width: 90%;
    height: 30%;
    text-align: center;
    font-weight: 500;
}

.title {
    font-size: 1.8rem;
}

.clockNumber{
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}

.neonText{
    text-shadow:
    0 0 7px rgba(0, 255, 255,0.6),
    0 0 14px  rgba(0, 255, 255,0.5),
    0 0 21px  rgba(0, 255, 255,0.4),
    0 0 28px  rgba(0, 255, 255,0.3),
    0 0 35px  rgba(0, 255, 255,0.2),
    0 0 21px  rgba(0, 255, 255,0.1)
    ;

}

@media screen and (min-width: 425px) {
    .box{
        height: 50%;
    }
    .title{
        font-size: 3rem;
    }
    .clockNumber{
        font-size: 4rem;
    }
}

@media screen and (min-width: 768px) {
    .box{
        height: 50%;
    }
    .title{
        font-size: 4rem;
    }
    .clockNumber{
        font-size: 5.6rem;
    }
}

